<a href="https://colab.research.google.com/github/zar7364/DataScience/blob/main/Heart_Failure_Logistic_Regression_Causality_Staistical_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount("/content/drive/")

Mounted at /content/drive/

In [8]:
data=("/content/drive/My Drive/Colab Notebooks/Heart Causality Statistical Test/Heart Failure Causality.csv")

In [9]:
import pandas as pd

In [11]:
df=pd.read_csv(data)
df

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[299 rows x 13 columns]

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_confusion_matrix,confusion_matrix,accuracy_score
from sklearn.neural_network import MLPClassifier
import warnings
warnings.filterwarnings('ignore')

In [21]:
#Train Test Split Data
X=df.drop('DEATH_EVENT',axis=1)
Y=df['DEATH_EVENT']

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=12)

In [23]:
Y.unique()

array([1, 0])

In [27]:
from statsmodels.genmod.generalized_linear_model import GLM
from statsmodels.genmod import families
import statsmodels.stats.tests.test_influence

In [30]:
res=GLM(Y_train,X_train,family=families.Binomial()).fit(attach_wls=True, atol=1e-10)
print(res.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:            DEATH_EVENT   No. Observations:                  239
Model:                            GLM   Df Residuals:                      227
Model Family:                Binomial   Df Model:                           11
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -90.220
Date:                Thu, 24 Dec 2020   Deviance:                       180.44
Time:                        04:12:54   Pearson chi2:                     198.
No. Iterations:                     6
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
age                          0.0609      0.018      3.479      0.001       0.027       0.095
anaemia                      0.1805      0.403      0.448      0.654      -0.609       0.970
creatinine_phosphokinase     0.0002      0.000      1.140      0.254      -0.000       0.001
diabetes                     0.0777      0.389      0.200      0.842      -0.685       0.840
ejection_fraction           -0.0723      0.018     -4.127      0.000      -0.107      -0.038
high_blood_pressure         -0.1117      0.394     -0.283      0.777      -0.884       0.661
platelets                  1.52e-06   2.01e-06      0.756      0.450   -2.42e-06    5.46e-06
serum_creatinine             0.7515      0.194      3.881      0.000       0.372       1.131
serum_sodium                -0.0076      0.011     -0.714      0.475      -0.029       0.013
sex                         -0.5183      0.449     -1.154      0.248      -1.398       0.362
smoking                     -0.0672      0.474     -0.142      0.887      -0.996       0.861
time                        -0.0195      0.003     -5.986      0.000      -0.026      -0.013
============================================================================================

In [31]:
#From this analysis we can take the information that age,ejection_fraction,serum_creatinine, time has causality to death event of heart failure.