<a href="https://colab.research.google.com/github/zar7364/DataScience/blob/main/Plotly%20-%20Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount("/content/drive/")

Mounted at /content/drive/

In [3]:
data=("/content/drive/My Drive/Colab Notebooks/Plotly/DataWorldRankUni.csv")

In [4]:
import pandas as pd
df=pd.read_csv(data)

In [5]:
df.head()

  world_rank                        university_name  ... female_male_ratio  year
0          1                     Harvard University  ...               NaN  2011
1          2     California Institute of Technology  ...           33 : 67  2011
2          3  Massachusetts Institute of Technology  ...           37 : 63  2011
3          4                    Stanford University  ...           42 : 58  2011
4          5                   Princeton University  ...           45 : 55  2011

[5 rows x 14 columns]

In [6]:
df.dtypes

world_rank                 object
university_name            object
country                    object
teaching                  float64
international              object
research                  float64
citations                 float64
income                     object
total_score                object
num_students               object
student_staff_ratio       float64
international_students     object
female_male_ratio          object
year                        int64
dtype: object

In [7]:
df.isna().sum()

world_rank                  0
university_name             0
country                     0
teaching                    0
international               0
research                    0
citations                   0
income                      0
total_score                 0
num_students               59
student_staff_ratio        59
international_students     67
female_male_ratio         233
year                        0
dtype: int64

In [8]:
df.isnull().sum()

world_rank                  0
university_name             0
country                     0
teaching                    0
international               0
research                    0
citations                   0
income                      0
total_score                 0
num_students               59
student_staff_ratio        59
international_students     67
female_male_ratio         233
year                        0
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df.isna().sum()

world_rank                0
university_name           0
country                   0
teaching                  0
international             0
research                  0
citations                 0
income                    0
total_score               0
num_students              0
student_staff_ratio       0
international_students    0
female_male_ratio         0
year                      0
dtype: int64

In [15]:
df.describe().T

                      count         mean        std  ...     50%     75%     max
teaching             2362.0    37.146190  17.145579  ...    33.1    45.7    98.3
research             2362.0    35.310288  20.876934  ...    30.1    46.2    99.4
citations            2362.0    61.004953  23.091455  ...    62.7    79.2   100.0
student_staff_ratio  2362.0    18.707282  11.530523  ...    16.3    21.9   162.6
year                 2362.0  2014.092295   1.682795  ...  2014.0  2016.0  2016.0

[5 rows x 8 columns]

In [16]:
df.columns

Index(['world_rank', 'university_name', 'country', 'teaching', 'international',
       'research', 'citations', 'income', 'total_score', 'num_students',
       'student_staff_ratio', 'international_students', 'female_male_ratio',
       'year'],
      dtype='object')

In [18]:
import plotly.graph_objs as go