<a href="https://colab.research.google.com/github/zar7364/DataScience/blob/main/Plotly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
from google.colab import drive

In [92]:
drive.mount("/content/drive/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [93]:
data=("/content/drive/My Drive/Colab Notebooks/Plotly/DataWorldRankUni.csv")

In [94]:
import pandas as pd
data=pd.read_csv(data)

In [95]:
data.head()

  world_rank                        university_name  ... female_male_ratio  year
0          1                     Harvard University  ...               NaN  2011
1          2     California Institute of Technology  ...           33 : 67  2011
2          3  Massachusetts Institute of Technology  ...           37 : 63  2011
3          4                    Stanford University  ...           42 : 58  2011
4          5                   Princeton University  ...           45 : 55  2011

[5 rows x 14 columns]

In [96]:
data.dtypes

world_rank                 object
university_name            object
country                    object
teaching                  float64
international              object
research                  float64
citations                 float64
income                     object
total_score                object
num_students               object
student_staff_ratio       float64
international_students     object
female_male_ratio          object
year                        int64
dtype: object

In [97]:
data.isna().sum()

world_rank                  0
university_name             0
country                     0
teaching                    0
international               0
research                    0
citations                   0
income                      0
total_score                 0
num_students               59
student_staff_ratio        59
international_students     67
female_male_ratio         233
year                        0
dtype: int64

In [98]:
data.isnull().sum()

world_rank                  0
university_name             0
country                     0
teaching                    0
international               0
research                    0
citations                   0
income                      0
total_score                 0
num_students               59
student_staff_ratio        59
international_students     67
female_male_ratio         233
year                        0
dtype: int64

In [99]:
data.dropna(inplace=True)

In [100]:
data.isna().sum()

world_rank                0
university_name           0
country                   0
teaching                  0
international             0
research                  0
citations                 0
income                    0
total_score               0
num_students              0
student_staff_ratio       0
international_students    0
female_male_ratio         0
year                      0
dtype: int64

In [101]:
data.describe().T

                      count         mean        std  ...     50%     75%     max
teaching             2362.0    37.146190  17.145579  ...    33.1    45.7    98.3
research             2362.0    35.310288  20.876934  ...    30.1    46.2    99.4
citations            2362.0    61.004953  23.091455  ...    62.7    79.2   100.0
student_staff_ratio  2362.0    18.707282  11.530523  ...    16.3    21.9   162.6
year                 2362.0  2014.092295   1.682795  ...  2014.0  2016.0  2016.0

[5 rows x 8 columns]

In [102]:
data.columns

Index(['world_rank', 'university_name', 'country', 'teaching', 'international',
       'research', 'citations', 'income', 'total_score', 'num_students',
       'student_staff_ratio', 'international_students', 'female_male_ratio',
       'year'],
      dtype='object')

In [103]:
df=data.copy()

In [104]:
import plotly.graph_objs as go

# prepare data frame
df = df.iloc[:100,:]

In [105]:
df

    world_rank                        university_name  ... female_male_ratio  year
1            2     California Institute of Technology  ...           33 : 67  2011
2            3  Massachusetts Institute of Technology  ...           37 : 63  2011
3            4                    Stanford University  ...           42 : 58  2011
4            5                   Princeton University  ...           45 : 55  2011
5            6                University of Cambridge  ...           46 : 54  2011
..         ...                                    ...  ...               ...   ...
112        112          Tokyo Institute of Technology  ...           13 : 87  2011
113        114     Eindhoven University of Technology  ...           19 : 81  2011
114        115             National Taiwan University  ...           39 : 61  2011
116        117    University of California, Riverside  ...           51 : 49  2011
117        118                   University of Geneva  ...           61 : 39  2011

[100 rows x 14 columns]

In [106]:
import plotly.graph_objs as go
from chart_studio.plotly import plot, iplot
from plotly.offline import iplot

In [107]:
trace1=go.Scatter(x=df.world_rank, y=df.citations,mode='lines',name='citations',marker=dict(color='rgba(16,112,2,0.8)'),text=df.university_name)


trace2=go.Scatter(x=df.world_rank, y=df.teaching,mode='lines+markers', name='teaching', marker=dict(color='rgba(60,26,80,0.8)'),text=df.university_name)
data=[trace1,trace2]
layout=dict(title='Citation and Teaching vs World Rank Top 100 University',xaxis=dict(title='World Rank',ticklen=5,zeroline=False))
fig=dict(data=data, layout=layout)
iplot(fig)

In [132]:
b=df.copy()

In [133]:
b

    world_rank                        university_name  ... female_male_ratio  year
1            2     California Institute of Technology  ...           33 : 67  2011
2            3  Massachusetts Institute of Technology  ...           37 : 63  2011
3            4                    Stanford University  ...           42 : 58  2011
4            5                   Princeton University  ...           45 : 55  2011
5            6                University of Cambridge  ...           46 : 54  2011
..         ...                                    ...  ...               ...   ...
112        112          Tokyo Institute of Technology  ...           13 : 87  2011
113        114     Eindhoven University of Technology  ...           19 : 81  2011
114        115             National Taiwan University  ...           39 : 61  2011
116        117    University of California, Riverside  ...           51 : 49  2011
117        118                   University of Geneva  ...           61 : 39  2011

[100 rows x 14 columns]

In [141]:
print("This notebook just for test")

This notebook just for test